{% extends "base.html" %}

{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<figure>
  <blockquote class="blockquote">
    <p>Тема конкурса: {{ object.theme }}.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Theme">{{ object.theme_by }}</cite>
  </figcaption>
</figure>
<div>{{ object.description }}</div>
<div>
  <a href="{{ object.discussion_url }}" target="_blank" rel="noopener noreferrer">{% bs_icon 'chat-left' %} Внешнее обсуждение</a></div>
<div>
  <a href="{% url 'litcontest:generate_zip' object.id %}">{% bs_icon 'download' %} Скачать одним архивом</a></div>
<div>
    <ul>
{% for story in object.story_set.all %}
    <li><em>{{ story.owner }}</em> <a href="{% url 'litcontest:story' story.id %}">{{ story.title }}</a> <a href="{% url 'litcontest:story-update' story.id %}" class="btn btn-primary">{% bs_icon 'pencil' %}</a>
    </li>
{% endfor %}
<h3>Голосование</h3>
<form method="post" action="">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    {% bootstrap_button "Голосовать" button_type="submit" button_class="btn-primary" %}
</form>

<h3>Добавить рассказ</h3>
<a href="{% url 'litcontest:story-add' object.id %}" class="btn btn-primary" role="button">{% bs_icon 'file-earmark-plus' %} Добавить рассказ</a>
</div>
{% endblock %}