{% extends "base.html" %}

{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
<div>
<span>{{ object.theme_by }}</span> предложил тему: <span>{{ object.theme }}</span>    
</div>
<div>{{ object.description }}</div>
<div><a href="{{ object.discussion_url }}" target="_blank" rel="noopener noreferrer">Обсуждение конкурса</a></div>
<div>
{% for story in object.story_set.all %}
    <div><a href="{% url 'litcontest:story' story.id %}">{{ story.title }}</a> <a href="{% url 'litcontest:story-update' story.id %}" class="btn btn-primary">{% bs_icon 'pencil' %} Редактировать</a></div>
{% endfor %}
<a href="{% url 'litcontest:story-add' object.id %}" class="btn btn-primary" role="button">{% bs_icon 'file-earmark-plus' %} Добавить рассказ</a>
</div>
{% endblock %}