{% extends "base.html" %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Рваная Грелка{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<form action="{% url 'litcontest:logout' %}" method="post">
  {% csrf_token %}
  {% bootstrap_button "Выйти" button_type="submit" button_class="btn-primary" %}
</form>
{% else %}
<p>You are not logged in</p>
<p><a href="{% url 'litcontest:login' %}">Log In</a></p>
<p><a href="{% url 'litcontest:signup' %}">Register</a></p>
<p><a href="{% url 'litcontest:password_reset' %}">Password Reset</a></p>
{% endif %}
<div>
{% for contest in object_list %}
<div>
    <div><a href="{% url 'litcontest:contest' contest.id %}">{{ contest.title }}</a></div>
    <div>{{ contest.description }}</div>
    <div><span>{{ contest.theme_by }}</span> предложил тему: {{ contest.theme }}</div>
    <div><a href="{{ contest.discussion_url }}">{% bs_icon 'chat-left' %}</a></div>
    <div><a href="{% url 'litcontest:contest-update' contest.id %}" class="btn btn-primary">{% bs_icon 'pencil' %}</a></div>
    <div>Принимают участие {{ contest.story__count }} рассказов</div>
</div>
{% endfor %}
<a href="{% url 'litcontest:contest-add' %}" class="btn btn-primary" role="button">{% bs_icon 'journal-plus' %} Создать конкурс</a>
</div>
{% endblock %}