{% extends "base.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Принцип работы и правила использования{% endblock %}

{% block content %}
<h1>Принцип работы и правила использования</h1>
<h2>I. Общие положения</h2>
<ol>
	<li>Данный сайт предназначен для организации анонимных литературных конкурсов.</li>
	<li>Движок работает в полностью автоматическом режиме.</li>
</ol>
<h2>II. Этапы проведения конкурса</h2>
<ol>
	<li>Организатор конкурса создает новый конкурс, заполнив его данные (см. раздел "Создание конкурса").</li>
	<li>При правильном вводе данных формируется новый конкурс и организатору конкурса движок формирует пароль для ввода темы конкурса.</li>
	<li>Производится активирование конкурса (на время тестирования движка активирование производится автоматически).</li>
	<li>До начала приема работ организатором или ответственным лицом, которому вообщается пароль, вводится тема конкурса и дополнительные условия.</li>
	<li>В назначенную дату объявляется тема конкурса и начинается прием работ (см. раздел "Прием работ").</li>
	<li>Зарегистрировавшийся участник, воспользовавшись специальной формой, вводит одно или несколько произведений на конкурс.</li>
	<li>В назначенную дату прием работ заканчивается, произведения разбиваются на группы, создаются архивы с произведениями и начинается первый тур (см. раздел "Первый тур").</li>
	<li>В течение первого тура участники читают произведения и голосуют за них (см. раздел "Голосование").</li>
	<li>При двух или более группах начинается второй тур.</li>
	<li>По окончанию второго тура производится окончательное подведение итогов конкурса и объявление победителей.</li>
</ol>
<h2>III. Создание конкурса</h2>
<ol>
	<li>Создать конкурс может любой зарегистрировавшийся на сайте.</li>
	<li>Для создания необходимо ввести его следующие параметры:
		<ol>
			<li><strong>Название конкурса</strong></li>
			<li><strong>Описание конкурса</strong></li>
			<li>
				<p><strong>Ссылка на страницу с обсуждением конкурса</strong></p>
				<p>В движке нет возможости обсуждать конкетные конкурсы. Обсуждение производится в другом месте по указанной ссылке.</p></li>
			<li>
				<p><strong>Дата объявления темы и начала приема работ</strong></p>
				<p>Указывается дата начала конкурса. Все конкурсы начинаются в 15:00 по московскому времени. В один день может начаться только один конкурс.</p>
			</li>
			<li>
				<p><strong>Дата объявления темы и начала приема работ</strong></p>
				<p>Указывается дата начала конкурса. Все конкурсы начинаются в 15:00 по московскому времени. В один день может начаться только один конкурс.</p>
			</li>
			<li>
				<p><strong>Дата окончания приема работ</strong></p>
				<p>Произведения на конкурс перестают приниматься и начинается время перед началом первого тура, за которое организатор конкурса может прочитать произведения и удалить не соответствующие критериям.</p>
			</li>
			<li>
				<p><strong>Дата начала первого тура</strong></p>
				<p>Дата начала первого тура может совпадать с датой окончания приема работ. В этом случае у организатора конкурса почти не будет времени на предварительное прочтение произведений.</p>
			</li>
			<li>
				<p><strong>Дата окончания первого тура</strong></p>
				<p>Она же &mdash; дата начала второго тура.</p>
			</li>
			<li>
				<p><strong>Дата окончания конкурса</strong></p>
			</li>
			<li>
				<p><strong>Максимальное количество произведений в группе</strong></p>
				<p>Это значение необходимо для разбивки произведений на группы. В каждой группе будет не более указанного числа произведений.</p>
			</li>
			<li>
				<p><strong>Минимальная длина произведения</strong></p>
				<p>Ограничение на минимальную длину произведения. Введите число 0, если нет ограничения на минимальную длину.</p>
			</li>
			<li>
				<p><strong>Максимальная длина произведения</strong></p>
				<p>Ограничение на максимальную длину произведения. Введите число 0, если нет верхнего ограничения. Однако, с учетом того, что движок не резиновый, максимальная длина произведений равна 100000 байтам.</p>
			</li>
		</ol>
	</li>
</ol>
<h2>IV. Ввод темы конкурса</h2>
<ol>
	<li>Для того, чтобы организатор мог полноценно участвовать в конкурсе наравне с другими участниками введен механизм отдельного ввода темы конкурса.</li>
	<li>При создании конкурса организатор получает "пароль для ввода конкурса". Этот пароль передается арбитру или другому лицу. Воспользовавшись специальной ссылкой это лицо вводит тему конкурса, дополнительные условия и полученный пароль.</li>
	<li>Тема конкурса и дополнительные условия могут быть введены только один раз. По окончанию ввода пароль становится недействительным и просматривать или редактировать тему конкурса становится невозможно.</li>
</ol>
<h2>V. Прием работ</h2>
<ol>
	<li>Конкурс стартует в указанную дату в 15:00 по московскому времени.</li>
	<li>Участники конкурса отслеживают страницу конкурса. Тема и дополнительные условия сформируются автоматически.</li>
	<li>Каждый участник вводит, редактирует или удаляет свои работы на специальной странице участника.</li>
	<li>Работы вводятся в специальную форму ввода.</li>
	<li>Название работы и текст вводятся в раздельные графы.</li>
	<li>Вводите названия произведений со строчных (маленьких) букв, первая буква &mdash; прописная.</li>
	<li>Количество работ от одного участника не ограничено.</li>
	<li>Создатель конкурса или модератор самостоятельно проверяет, были ли уже опубликованы произведения, соблюдена ли анонимность в произведениях, а также соответствие текстов действующему законодательству.</li>
	<li>Троллинг. Администрация конкурса обязана поддерживать и развивать доброе имя конкурса, а потому имеет право не допускать до участия произведения провокационные, портящие репутацию конкурса или направленные на срыв голосования.</li>
</ol>
<h2>VI. Разбивание работ на группы</h2>
<ol>
	<li>Если количество поступивших на конкурс работ превышает максимальное количество произведений в группе, определенное при создании конкурса, производится разбивка работ на группы.</li>
	<li>
		<p>Движок стремится к равномерному распределению количества работ по группам. Количество работ в группах отличаются не более чем на одну.</p>
		<p>Реальное количество работ в группах может быть от половины до указанного максимального количества работ.</p>
		<p>Пример:</p>
		<p>Указано максимальное количество работ в группе &mdash; <em>50</em>.</p>
		<p>Если будет зарегистрировано 100 произведений, то движок разобьет работы на две группы по <em>50</em> произведений.</p>
		<p>Если будет зарегистрировано 101 произведение, то движок разобьет работы на три группы по <em>33</em>, <em>34</em> и <em>34</em> произведения в группах.</p></li>
</ol>
<h2>VII. Первый тур</h2>
<ol>
	<li>Участник конкурса должен прочитать произведения в той группе, где имеется его самое длинное произведение (группу движок выбирает автоматически).</li>
	<li>По окончанию прочтения произведений он должен проголосовать, выбрав 6 лучших произведений.</li>
	<li>Голосование производится в специальной форме голосования. Участник ставит места цифрами <em>1</em>, <em>2</em>, <em>3</em>, <em>4</em>, <em>5</em>, <em>6</em> в полях рядом с выбранными произведениями. Остальные поля не заполняются.</li>
	<li>За свое произведение голосовать нельзя.</li>
	<li>Если количества работ не хватает до шести, участник голосует за те произведения, что есть.</li>
	<li>Любой участник может удалить свое произведения из конкурса в течение тура.</li>
	<li>Участник, проголосовавший за произведение может заново проголосовать в форме голосования.</li>
	<li>Участник, который не проголосовал за произведения, снимается с конкурса.</li>
	<li>Каждое место по итогам голосования получает следующее количество баллов:
		<table class="table table-striped w-25">
		  <thead>
		    <tr>
		      <th scope="col">Место</th>
		      <th scope="col">Баллы</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>10</td>
		    </tr>
		    <tr>
		      <th scope="row">2</th>
		      <td>6</td>
		    </tr>
		    <tr>
		      <th scope="row">3</th>
		      <td>3</td>
		    </tr>
		    <tr>
		      <th scope="row">4</th>
		      <td>3</td>
		    </tr>
		    <tr>
		      <th scope="row">5</th>
		      <td>2</td>
		    </tr>
		    <tr>
		      <th scope="row">6</th>
		      <td>1</td>
		    </tr>
		  </tbody>
		</table>
	</li>
	<li>Баллы полученные при голосовании за работы, которые были удалены (участником или автоматически непроголосовавших участников), теряются.</li>
	<li>
		<p>Во второй тур из каждой группы выходит одинаковое количество произведений с расчетом, что общее количество произведений не превысит максимального количества произведений в группе.</p>
		<p>Пример:</p>
		<p>Если максимальное количество произведений &mdash; <em>50</em>, число групп &mdash; <em>3</em>, то из каждой группы выйдет по <em>16</em> произведений.</p>
	</li>
	<li>Если несколько произведений получат одинаковое количество очков, то высшее место получают произведения, набравшие большее количества высших мест.</li>
	<li>При одинаковом количестве очков и количестве высших мест, на более высокое место выйдет более длинное произведение.</li>
</ol>
<h2>VIII. Второй тур</h2>
<ol>
	<li>Второй тур по своей сути аналогичен первому туру.</li>
	<li>По оконанию первого тура производится общий подсчет очков и объявление победителей.</li>
	<li>По окончанию второго тура формируются и таблицы с голосованием.</li>
</ol>
{% endblock %}