{% extends "registration/registration_base.html" %}

{% block meta %}
<meta name="referrer" content="origin">
{% endblock %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block title %}Подтверждение сброса пароля{% endblock %}

{% block content %}
{% if validlink %}
  <p>Введите ваш новый пароль, чтобы сбросить старый пароль</p>
  <form method="post" action="">
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      {% bootstrap_button "Установить" button_type="submit" button_class="btn-primary" %}
  </form>
{% else %}
  Не удалось сбросить пароль. Пожалуйста, <a href="{% url 'auth_password_reset' %}">попробуйте ещё</a>.
{% endif %}
{% endblock %}

