{% extends "registration/registration_base.html" %}
{% block title %}Изменить пароль{% endblock %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block extrahead %}
{{ form.media }}
{% endblock %}

{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    {% bootstrap_button "Сменить пароль" button_type="submit" button_class="btn-primary" %}
</form>
{% endblock %}


{# This is used by django.contrib.auth #}