{% extends "base.html" %}

{% block content %}
<h1>Принцип работы и правила использования</h1>
<pre>
I. Общие положения

1. Данный сайт предназначен для организации анонимных литературных конкурсов.

2. Движок работает в полностью автоматическом режиме.

II. Этапы проведения конкурса

1. Организатор конкурса создает новый конкурс, заполнив его данные (см. раздел "Создание конкурса").

2. При правильном вводе данных формируется новый конкурс и организатору конкурса движок формирует пароль для ввода темы конкурса.

3. Производится активирование конкурса (на время тестирования движка активирование производится автоматически).

4. До начала приема работ организатором или ответственным лицом, которому вообщается пароль, вводится тема конкурса и дополнительные условия.

5. В назначенную дату объявляется тема конкурса и начинается прием работ (см. раздел "Прием работ").

6. Зарегистрировавшийся участник, воспользовавшись специальной формой, вводит одно или несколько произведений на конкурс.

7. В назначенную дату прием работ заканчивается, произведения разбиваются на группы, создаются архивы с произведениями и начинается первый тур (см. раздел "Первый тур").

8. В течение первого тура участники читают произведения и голосуют за них (см. раздел "Голосование").

9. При двух или более группах начинается второй тур.

10. По окончанию второго тура производится окончательное подведение итогов конкурса и объявление победителей.

 

III. Создание конкурса

1. Создать конкурс может любой зарегистрировавшийся на сайте.

2. Для создания необходимо ввести его следующие параметры:

2.1. Название конкурса

2.2. Описание конкурса

2.3. Ссылка на страницу с обсуждением конкурса

В движке нет возможости обсуждать конкетные конкурсы. Обсуждение производится в другом месте по указанной ссылке.

2.4. Дата объявления темы и начала приема работ

Указывается дата начала конкурса. Все конкурсы начинаются в 15:00 по московскому времени. В один день может начаться только один конкурс.

2.5. Дата окончания приема работ

Произведения на конкурс перестают приниматься и начинается время перед началом первого тура, за которое организатор конкурса может прочитать произведения и удалить не соответствующие критериям.

2.6. Дата начала первого тура

Дата начала первого тура может совпадать с датой окончания приема работ. В этом случае у организатора конкурса почти не будет времени на предварительное прочтение произведений.

2.7. Дата окончания первого тура

Она же - дата начала второго тура.

2.8. Дата окончания конкурса

2.9. Максимальное количество произведений в группе

Это значение необходимо для разбивки произведений на группы. В каждой группе будет не более указанного числа произведений.

2.10. Минимальная длина произведения

Ограничение на минимальную длину произведения. Введите число 0, если нет ограничения на минимальную длину.

2.11. Максимальная длина произведения

Ограничение на максимальную длину произведения. Введите число 0, если нет верхнего ограничения. Однако, с учетом того, что движок не резиновый, максимальная длина произведений равна 100000 байтам.

IV. Ввод темы конкурса

1. Для того, чтобы организатор мог полноценно участвовать в конкурсе наравне с другими участниками введен механизм отдельного ввода темы конкурса.

2. При создании конкурса организатор получает "пароль для ввода конкурса". Этот пароль передается арбитру или другому лицу. Воспользовавшись специальной ссылкой это лицо вводит тему конкурса, дополнительные условия и полученный пароль.

3. Тема конкурса и дополнительные условия могут быть введены только один раз. По окончанию ввода пароль становится недействительным и просматривать или редактировать тему конкурса становится невозможно.

V. Прием работ

1. Конкурс стартует в указанную дату в 15:00 по московскому времени.

2. Участники конкурса отслеживают страницу конкурса. Тема и дополнительные условия сформируются автоматически.

3. Каждый участник вводит, редактирует или удаляет свои работы на специальной странице участника.

4. Работы вводятся в специальную форму ввода.

5. Название работы и текст вводятся в раздельные графы.

6. Вводите названия произведений со строчных (маленьких) букв, первая буква - прописная.

7. Количество работ от одного участника не ограничено.

8. Создатель конкурса или модератор самостоятельно проверяет, были ли уже опубликованы произведения, соблюдена ли анонимность в произведениях, а также соответствие текстов действующему законодательству.

9. Троллинг. Администрация конкурса обязана поддерживать и развивать доброе имя конкурса, а потому имеет право не допускать до участия произведения провокационные, портящие репутацию конкурса или направленные на срыв голосования.

VI. Разбивание работ на группы

1. Если количество поступивших на конкурс работ превышает максимальное количество произведений в группе, определенное при создании конкурса, производится разбивка работ на группы.

2. Движок стремится к равномерному распределению количества работ по группам. Количество работ в группах отличаются не более чем на одну.

Реальное количество работ в группах может быть от половины до указанного максимального количества работ.

Пример:

Указано максимальное количество работ в группе - 50.

Если будет зарегистрировано 100 произведений, то движок разобьет работы на две группы по 50 произведений.

Если будет зарегистрировано 101 произведение, то движок разобьет работы на три группы по 33, 34 и 34 произведения в группах.

VII. Первый тур

1. Участник конкурса должен прочитать произведения в той группе, где имеется его самое длинное произведение (группу движок выбирает автоматически).

2. По окончанию прочтения произведений он должен проголосовать, выбрав шесть лучших произведений.

3. Голосование производится в специальной форме голосования. Участник ставит места цифрами 1, 2, 3, 4, 5, 6 в полях рядом с выбранными произведениями. Остальные поля не заполняются.

4. За свое произведение голосовать нельзя.

5. Если количества работ не хватает до шести, участник голосует за те произведения, что есть.

6. Любой участник может удалить свое произведения из конкурса в течение тура.

7. Участник, проголосовавший за произведение может заново проголосовать в форме голосования.

8. Участник, который не проголосовал за произведения, снимается с конкурса.

9. Каждое место по итогам голосования получает следующее количество баллов:

- 1 место - 10 баллов
- 2 место - 6 баллов
- 3 место - 4 балла
- 4 место - 3 балла
- 5 место - 2 балла
- 6 место - 1 балл

9. Баллы полученные при голосовании за работы, которые были удалены (участником или автоматически непроголосовавших участников), теряются.

10. Во второй тур из каждой группы выходит одинаковое количество произведений с расчетом, что общее количество произведений не превысит максимального количества произведений в группе.

Пример:

Если максимальное количество произведений - 50, число групп - три, то из каждой группы выйдет по 16 произведений.

11. Если несколько произведений получат одинаковое количество очков, то высшее место получают произведения, набравшие большее количества высших мест.

12. При одинаковом количестве очков и количестве высших мест, на более высокое место выйдет более длинное произведение.

VIII. Второй тур

1. Второй тур по своей сути аналогичен первому туру.

2. По оконанию первого тура производится общий подсчет очков и объявление победителей.

3. По окончанию второго тура формируются и таблицы с голосованием.
</pre>
{% endblock %}